<div ng-init="ass.InitPage()">
  <h1>Assignments</h1>
    <sign-out class="pull-right btn-inverse"></sign-out>
    <section class="menu container">
        <div ng-loader ng-show="ass.showLoader"></div>
        <nav class="row">
            <ul class="list-unstyled">
                <li class="col-md-4 col-sm-12" ng-repeat="assignment in ass.assignments">
                    <a class="btn btn-block btn-inverse clearfix" href="{{assignment.Url}}" target="_blank">
                        <div class="menuText">
                            {{assignment.title}} <br/>
                            <small>{{assignment.description}}</small>
                        </div>
                    </a>
                    <button type="button" ng-click="vm.DeleteAssignment(assignment)">Delete</button>
                </li>
            </ul>
        </nav>
    </section>
    <section>
      <h3>Create Assignment</h3>
      <form >
        <input type="text" ng-model="ass.newAssignment.title">
        <input type="text" ng-model="ass.newAssignment.description">
        <button type="button" ng-click="ass.CreateAssignment()">Create</button>
      </form>
    </section>

</div>


